<div class="godmin-uploads">
  <% if preview %>
    <%= attachment_image_tag(f.object, attachment, :fill, 0, 400, class: "godmin-uploads__image") %>
  <% end %>

  <%= f.attachment_field attachment, direct: true, class: "hidden" %>

  <div class="godmin-uploads__progress progress">
    <div class="progress-bar" style="width: 0%;"></div>
  </div>

  <%= f.label attachment, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-cloud-upload"></i>
  <% end %>

  <% if f.object.send(attachment) %>
    <%= link_to attachment_url(f.object, attachment), class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-cloud-download"></i>
    <% end %>
  <% end %>

  <% if f.object.send(attachment) %>
    <% if remove %>
      <button class="godmin-uploads__remove-btn btn btn-default">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <%= f.hidden_field "remove_#{attachment}", class: "godmin-uploads__remove-field" %>
    <% end %>
  <% end %>
</div>
