<div class="godmin-uploads <%= 'godmin-uploads-success' if f.object.send(attachment) %>">

  <%= f.attachment_field attachment, direct: true, class: "hidden godmin-uploads__file-field" %>

  <div class="godmin-uploads__placeholder">
    <%= f.label attachment, class:"godmin-uploads__placeholder__file-label" do %>
      <div class="glyphicon glyphicon-cloud-upload"></div>
      <div><%= t("godmin.uploads.upload_file")%></div>
    <% end %>
  </div>

  <div class="godmin-uploads__preview">
    <% if preview %>
      <%= attachment_image_tag(f.object, attachment, :fill, 0, 400, fallback: "http://placehold.it/150/f5f5f5/cccccc", class:"godmin-uploads__preview__image", alt:"") %>
    <% else %>
      <div class="glyphicon glyphicon-file godmin-uploads__preview__icon"></div>
    <% end %>

    <div class="godmin-uploads__preview__actions dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="godmin-uploads-actions" data-toggle="dropdown">
        Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">

        <li>
          <%= link_to attachment_url(f.object, attachment), class: "godmin-uploads__preview__download__link" do %>
            <%= t("godmin.uploads.download_file") %>
          <% end %>
        </li>
        <li>
          <%= f.label attachment, class:"godmin-uploads__preview__update__file-label" do %>
            <%= t("godmin.uploads.upload_file") %>
          <% end %>
        </li>
        <% if remove %>
          <li>
            <%= link_to "Remove", "#", class: "godmin-uploads__remove-link" %>
          </li>
          <%= f.hidden_field "remove_#{attachment}", class: "godmin-uploads__remove-field" %>
        <% end %>
      </ul>
    </div>

    <div class="godmin-uploads__preview__set-to-remove">
      <div class="godmin-uploads__preview__set-to-remove__actions">
        <div> <%= t("godmin.uploads.set_to_remove") %> </div>
        <div class="remove__actions__undo">
          <i class="glyphicon glyphicon-repeat"></i>
          <div> <%= t("godmin.uploads.undo_destroy_file") %> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="godmin-uploads__info">
    <div class="godmin-uploads__info__progress progress">
      <div class="progress-bar progress-bar-striped active" style="width: 0%;"></div>
    </div>
  </div>

</div>
